$primary-color: #3940d4;

$black: #1d1d1d;
$white: #fff;
$red: #8a1111;
$orange: #fa9c1b;
$green: #669d31;

$border-color: rgba(255, 255, 255, .2);

$max-width: 1500px;
$min-width: 320px;

$max-height: 1500px;
$min-height: 320px;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);