.header {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    &-nav {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        &__logo {
            img {
                max-height: 100%;
            }
        }
        &__navigation, &__logout {
            display: flex;
            a, button {
                padding: 5px;
                margin: 0px 5px;
                width: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background: none;
                cursor: pointer;
                &:hover, &.active {
                    border: 2px solid rgba(255, 255, 255, .2);
                    border-radius: 10px;
                    background-color: #3940d4;
                }
            }
        }
    }
}