.button {
  border: none;
  border-radius: 25px;
  padding: 15px 10px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  position: relative;
  z-index: 0;
  &:before {
    content: '';
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 25px;
  }
  &:hover:before {
    opacity: 1;
  }
  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: $white;
    left: 0;
    top: 0;
    border-radius: 25px;
  }
  a {
    font-size: 15px;
  }
}

.button-icon {
  display: flex;
  align-items: center;
  button {
    cursor: pointer;
    background: none;
    border: none;
    color: $white;
    margin: 5px 0px;
    svg {
      margin-right: 5px;
    }
    &:hover {
      svg {
        color: $green;
      }
    }
  }
  input {
    width: 75px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
}
