@keyframes loading-bloc {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #538d22;
  color: #ecf8f6;
}

::selection {
  background-color: #538d22;
  color: #ecf8f6;
}

html {
  background-color: #62b69e;
  display: flex;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  max-width: 1500px;
  min-width: 320px;
  max-height: 1500px;
  min-height: 320px;
  margin: auto;
  background-color: #1d1d1d;
  color: green;
}

.App {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

a {
  text-decoration: none;
  color: #ecf8f6;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #caad7e;
}

h1 {
  margin: 10px;
  border: 5px dotted;
  padding: 5px 10px;
}

.button {
  background-color: #caad7e;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
}
.button:hover {
  background-color: #62b69e;
}
.button:hover a {
  color: #1d1d1d;
}
.button a {
  color: #424340;
  font-size: 18px;
  font-weight: bold;
}

.count-bloc {
  position: relative;
  border: 3px solid;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}
.count-bloc__content {
  margin-top: 10px;
}
.count-bloc__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.react-icons {
  color: #424340;
}

.loading-bloc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1d1d1d;
  opacity: 0.95;
  border-radius: 20px;
}
.loading-bloc__container {
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
}
.loading-bloc__container div {
  animation: loading-bloc 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loading-bloc__container div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #85bc54;
  margin: -4px 0 0 -4px;
}
.loading-bloc__container div:nth-child(1) {
  animation-delay: -0.036s;
}
.loading-bloc__container div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.loading-bloc__container div:nth-child(2) {
  animation-delay: -0.072s;
}
.loading-bloc__container div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.loading-bloc__container div:nth-child(3) {
  animation-delay: -0.108s;
}
.loading-bloc__container div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.loading-bloc__container div:nth-child(4) {
  animation-delay: -0.144s;
}
.loading-bloc__container div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.loading-bloc__container div:nth-child(5) {
  animation-delay: -0.18s;
}
.loading-bloc__container div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.loading-bloc__container div:nth-child(6) {
  animation-delay: -0.216s;
}
.loading-bloc__container div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.loading-bloc__container div:nth-child(7) {
  animation-delay: -0.252s;
}
.loading-bloc__container div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.loading-bloc__container div:nth-child(8) {
  animation-delay: -0.288s;
}
.loading-bloc__container div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.header-nav__logo img {
  max-height: 100%;
}
.header-nav__navigation, .header-nav__logout {
  display: flex;
}
.header-nav__navigation a, .header-nav__logout a {
  background-color: #caad7e;
  padding: 5px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav__navigation a:hover, .header-nav__navigation a.active, .header-nav__logout a:hover, .header-nav__logout a.active {
  background-color: #62b69e;
}
.header-nav__navigation a:hover svg, .header-nav__navigation a.active svg, .header-nav__logout a:hover svg, .header-nav__logout a.active svg {
  color: #1d1d1d;
}

.footer {
  padding: 5px;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav__logo img {
  width: 100%;
}
.nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
}
.nav__links a {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 600;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.nav__links a:hover, .nav__links a.active {
  background-color: #aad576;
  color: #538d22;
}
.nav__links a p::first-letter {
  color: #538d22;
  font-size: 17px;
}
.nav__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.nav__social i {
  font-size: 20px;
  transition: transform 0.7s ease-in-out;
}
.nav__social i:hover {
  color: #62b69e;
  transform: rotate(360deg);
}
.nav__contact {
  font-size: 10px;
}
.nav__contact div {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.nav__contact i {
  color: #62b69e;
  font-size: 16px;
  padding-bottom: 5px;
}
.nav__contact a:hover {
  color: #62b69e;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
