@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");
@keyframes animate-background {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes loading-bloc {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  max-width: 1500px;
  min-width: 320px;
  max-height: 1500px;
  min-height: 320px;
  margin: auto;
}

.App {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.main-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.main-app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #fff;
}

.relative {
  position: relative;
}

.no-display {
  display: none;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #fff;
}

h1 {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-size: 50px;
  margin: 20px;
  text-transform: uppercase;
}

.button {
  border: none;
  border-radius: 25px;
  padding: 15px 10px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  position: relative;
  z-index: 0;
}
.button:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 25px;
}
.button:hover:before {
  opacity: 1;
}
.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 25px;
}
.button a {
  font-size: 15px;
}

.button-icon {
  display: flex;
  align-items: center;
}
.button-icon button {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  margin: 5px 0px;
}
.button-icon button svg {
  margin-right: 5px;
}
.button-icon button:hover svg {
  color: #669d31;
}
.button-icon input {
  width: 75px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.react-icons__auth {
  position: absolute;
  right: 15px;
  top: 20px;
}
.react-icons__auth + input {
  padding-right: 40px;
}
.react-icons__nav {
  color: #fff;
}

.loading-bloc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1d1d1d;
  opacity: 0.95;
  border-radius: 20px;
}
.loading-bloc__container {
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
}
.loading-bloc__container div {
  animation: loading-bloc 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loading-bloc__container div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #3940d4;
  margin: -4px 0 0 -4px;
}
.loading-bloc__container div:nth-child(1) {
  animation-delay: -0.036s;
}
.loading-bloc__container div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.loading-bloc__container div:nth-child(2) {
  animation-delay: -0.072s;
}
.loading-bloc__container div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.loading-bloc__container div:nth-child(3) {
  animation-delay: -0.108s;
}
.loading-bloc__container div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.loading-bloc__container div:nth-child(4) {
  animation-delay: -0.144s;
}
.loading-bloc__container div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.loading-bloc__container div:nth-child(5) {
  animation-delay: -0.18s;
}
.loading-bloc__container div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.loading-bloc__container div:nth-child(6) {
  animation-delay: -0.216s;
}
.loading-bloc__container div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.loading-bloc__container div:nth-child(7) {
  animation-delay: -0.252s;
}
.loading-bloc__container div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.loading-bloc__container div:nth-child(8) {
  animation-delay: -0.288s;
}
.loading-bloc__container div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

.background {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}
.background__circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.background__circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate-background 25s linear infinite;
  bottom: -150px;
}
.background__circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.background__circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.background__circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.background__circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.background__circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.background__circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.background__circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.background__circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.background__circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.background__circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.header-nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.header-nav__logo img {
  max-height: 100%;
}
.header-nav__navigation, .header-nav__logout {
  display: flex;
}
.header-nav__navigation a, .header-nav__navigation button, .header-nav__logout a, .header-nav__logout button {
  padding: 5px;
  margin: 0px 5px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
}
.header-nav__navigation a:hover, .header-nav__navigation a.active, .header-nav__navigation button:hover, .header-nav__navigation button.active, .header-nav__logout a:hover, .header-nav__logout a.active, .header-nav__logout button:hover, .header-nav__logout button.active {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background-color: #3940d4;
}

.footer {
  padding: 5px;
  font-size: 12px;
  margin-top: 20px;
}

.form-bloc {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-bloc.form-bloc-auth {
  width: 400px;
}
.form-bloc__title {
  font-size: 30px;
  padding-bottom: 30px;
  font-weight: bold;
}
.form-bloc__inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-bloc__inputs input {
  border: none;
  border-radius: 25px;
  padding: 15px 10px;
  margin: 5px;
  font-size: 15px;
  margin: 5px 0px;
  position: relative;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  width: 100%;
}
.form-bloc__inputs input::placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.form-bloc__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}
.form-bloc__buttons button {
  margin: 5px 0px;
}

.error {
  font-size: 12px;
  color: #8a1111;
  margin-top: 5px;
  font-weight: bold;
  text-align: justify;
}
.error__input {
  text-align: center;
  margin-top: 0px;
}

.message {
  font-size: 12px;
  color: #669d31;
  margin-top: 5px;
  font-weight: bold;
  text-align: justify;
}

.home__presentation {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
.home__presentation p {
  margin: 10px;
}
.home__apps {
  display: flex;
}
.home__apps .app {
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 110px;
  height: 110px;
  border-radius: 10px;
  background-color: #3940d4;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  padding: 5px;
}
.home__apps .app:hover {
  transform: scale(1.1);
  border-color: #669d31;
}
.home__apps .app--enabled {
  color: #669d31;
}
.home__apps .app--disabled {
  color: #8a1111;
  opacity: 0.4;
}
.home__apps .app--disabled:hover {
  transform: none;
  border-color: #8a1111;
}
.home__apps .app--disabled:hover :first-child {
  display: none;
}
.home__apps .app--disabled:hover :last-child {
  display: flex;
}
.home__apps .app--disabled:hover p {
  display: none;
}
.home__apps .app--disabled:hover::after {
  content: "Accès refusé";
}
.home__apps .app--to-come {
  color: #fa9c1b;
  opacity: 0.4;
}
.home__apps .app--to-come:hover {
  transform: none;
  border-color: #fa9c1b;
}
.home__apps .app--to-come:hover :first-child {
  display: none;
}
.home__apps .app--to-come:hover :last-child {
  display: flex;
}
.home__apps .app--to-come:hover p {
  display: none;
}
.home__apps .app--to-come:hover::after {
  content: "A venir";
}

.count-bloc {
  display: flex;
  position: relative;
  border: 3px solid;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}
.count-bloc__content {
  font-size: 70px;
}
.count-bloc__buttons {
  display: flex;
  flex-direction: column;
  width: 115px;
}

/*# sourceMappingURL=main.css.map */
